{% extends "base.html" %}
{% block 1 %}
<h1 style="text-align: center;">Team members</h1>
<h4 style="text-align: center; color: gray;">You have {{qsize}} team members</h4>
<ul style="width: 50%; margin: auto; ">
    {% for x in object_list %}
        {% if x.first_name %}
        <a href="/edit/{{x.id}}" style="color: black; text-decoration: none;">
            <hr style="height:2px; border-width:0; color:grey; background-color:grey">
                <p>{% load static%} <img src="{% static "photo.png" %}" /></p>
            <div style="margin: auto; text-align: center;">
                <p>{{x.first_name}} {{x.last_name}} {{x.role}}</p>
                <p>{{x.phone_num}}</p>
                <p>{{x.email}}</p>
            </div>   
        </a>      
            
        {% endif %}
    {% endfor %}
</ul>
<a href="/add"> 
    {% load static %} <img style="top: 5%; position: absolute; right: 30%;"src="{% static "media/plus.jpeg" %}" />
</a>
{% endblock 1 %}